*{
	/* Removes margin at top of page */
	margin: 0;
	padding: 0;
}

/* Main components */
body{
	min-height: 100vh;
	background: rgb(19, 22, 24);
	font-family: 'Ubuntu';
	color: white;
}

h1{
	color: white;
}

/* Sections */
section:nth-of-type(1){
	min-height: 100vh;
}

section:nth-of-type(2){
	min-height: 95vh;
}

section:nth-of-type(3){
	min-height: 110vh;
}
section:nth-of-type(4){
	min-height: 40vh;
}

/*  Nav Bar */
 .navbar-collapse{ /*Moves nav-links to right side*/
  	justify-content: flex-end;
 } 

 .navbar{
	background-color: transparent;
	color: black;
	margin: 0px;
	width: 50%;
	margin-left: 25%;
	z-index: 2;
 }

.nav-link{
	color: white;
}

.navbar-brand{
	color: white;
}
 /* ---------------------------- */
 /* Hero */
 .hero img{
	 width: 15vw;
	 border-radius: 50%;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
 }

 .hero img:hover{
	filter: none;
	
 }
  .hero img:focus{
	filter: none;
 }

 .hero-container{
	 width: 50vw;
	 margin: 0px auto;
	 padding-top: 20vh;
	 text-align: center;
 }

 /* Default all h2 to white */
 h2{
	 color: white;
 }


.social-button{
	border: none;
	margin-top: 10px;
	background-color: transparent;
	color: white;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.social-button:hover{
	background: white;
	color: black;
}

.social-button:focus{
	background: white;
	color: black;
}
.hero .fa{
	 font-size: 5vh;
	 width: 5vw;
 }

 /* ------------------------------------ */
 /*  About me  */

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    "about-me-text about-me-skills"
    "about-me-text about-me-skills"
    ". .";

	line-height: 2em;
}

/* Text portion */
.about-me-text {
	margin-top: 3vh;
	grid-area: about-me-text;
	padding-left: 5vw;
}

/* Defaults all HR's */
hr{
	width: 70%;
}

.about-me-text h2{
	font-weight: bold;
	font-size: 4.5vh;
}

.about-me-text p{
	font-size: 2.5vh;
}

.about-me-text li{
	font-size: 2.1vh;
}

/* Skills portion */
.about-me-skills {
	margin-top: 3vh;
	grid-area: about-me-skills;
	text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "img-logo img-logo1 img-logo2"
    "img-logo4 img-logo5 img-logo6"
    "img-logo7 img-logo8 img-logo9";

	padding-left: 180px;
	padding-right: 180px;
}

.skills-grid img{
	width: 45%;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.skills-grid img:hover{
	filter: drop-shadow(0 0 0.75rem rgb(179, 179, 179));
}

.skills-grid img:focus{
	filter: drop-shadow(0 0 0.75rem rgb(179, 179, 179));
}

.skills-grid div{
	padding-top: 5vh;
}


.about-me-skills h2{
	font-weight: bold;
	font-size: 4.5vh;
}

.about-me-skills hr{
	width: 50%;
	margin: 0px auto;
}



/* -------------------------------------------- */
/* Projects Section */

.projects h2{
	padding-top: 5vh;
	font-size: 5vh;
	/* padding-left: 5.5%; */
	text-align: center;
}

.project-container {
  /* border: 2px solid blue; */
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr 1.75fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "project-1 project-1 project-1 project-img-1"
    "project-2 project-2 project-2 project-img-2"
    "project-3 project-3 project-3 project-img-3";
}

.project-1 { grid-area: project-1; }
.project-2 { grid-area: project-2; }
.project-3 { grid-area: project-3; }
.project-img-1 { grid-area: project-img-1; }
.project-img-2 { grid-area: project-img-2; }
.project-img-3 { grid-area: project-img-3; }

.project-liste h3{
	font-size: 3.5vh;
}

.project-liste p{
	width: 50vw;
	font-size: 2.4vh;
}

.project-liste{
	padding-top: 50px;
	padding-left: 10%;
}

.project-container img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50px;
}

.project-img{
	display: flex;
	justify-content:left;
	align-items: center;
}

.project-img img{
	width: 100px;
	height: 60px;
	object-fit: contain;
}

.project-links button{
	background-color: transparent;
	color: white;
	width: 80px;
	border: none;
		transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.project-links button:hover{
	background: white;
	color: rgb(19, 22, 24);
}

.project-links button:focus{
	background: white;
	color: rgb(19, 22, 24);
}

/* --------------------------------------- */
/* Footer Section */
.footer-container{
	display: flex;
	justify-content: space-around;
	/* background: blue; */
	height: 100%;
		text-align: center;
}

.footer-container hr{
	margin: 0px auto;
}

.footer-container div{
	/* border: 2px solid red; */
	width: 28vw;
}

.footer-container h2{
	padding-top: 10vh;

}

.footer-contact h4{
	padding-top: 1.5vh;
	text-align:left;
}

/* Footer Education */

.footer-education h4{
	padding-top: 1.5vh;
}

/* Socials Section */

.footer-socials button{
	margin-top: 1.5vh;

	border: none;
	margin-top: 10px;
	background-color: transparent;
	color: white;

	font-size: 5vh;
	width: 5vw;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}


.footer-socials button:hover{
	background: white;
	color: black;
}

#email-btn{
	color: white;
}

#email-btn:hover{
	color: rgb(98, 146, 192);
}

#school-link:hover{
	color: rgb(98, 146, 192);
	cursor: pointer;
}

/* Resume */
.resume-container{
  display: flex;
  justify-content: center;
  height: 100vh;
}
  iframe{
    width: 100%;
    height: 100%;
  }

/* Media Queries */
@media only screen and (max-width: 1279px){
	
}

  /* Smaller Screens */
@media only screen and (max-width: 992px) {
	.project-img img{
		/* border: 2px solid red; */
		width: 100px;
		height: 40px;
		object-fit: contain;
	}

	.navbar-collapse{
	text-align: end;
	padding-right: 15px;
	}
	/* Sections */
	section:nth-of-type(2){
		min-height: 50vh;
	}

	section:nth-of-type(3){
		min-height: 155vh;
	}

	section:nth-of-type(4){
		min-height: 130vh;
	}
	
	/* About */
	.about-me-text{
		padding-left: 20vh;
	}
	
	.about-me-text p{
		font-size: 3.4vh;
	}

	.about-me-text li{
		font-size: 3vh;
	}

	.skills-grid img{
		height: 14vh;
		width: 13.5vh;
	}

	/* Project */

	.project-liste{
		width: 80vw;
	}

	.project-container{
		display: flex;
		flex-direction: column;
	}

	.project-liste h3{
		font-size: 4vh;
	}

	.project-liste p{
		font-size: 3.2vh;
		width: 80vw;
	}

	.project-img{
		display: none;
	}

		/* Footer */
	.footer-container{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.footer-container div{
		width: 100%;
	}

	.footer-contact h4{
		padding-left: 30px;
		font-size: 4.5vh;
		text-align: center;
	}

	.footer-container hr{
		width: 50%;
	}

	.footer-socials button{
		width: 15vw;
		/* height: 10vh; */
		font-size: 8vh;
	}
}

@media screen and (max-width: 450px){
	 /* Navbar */
	.navbar{
		margin: 0;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	/* Hero */
	.hero-container{
		width: 80vw;
		padding-top: 15vh;
	}
	 .hero img{
		width: 45vw;
		border-radius: 50%;
		-webkit-filter: grayscale(100%); 
		filter: grayscale(100%);
 	}

	 .social-button{
		 width: 18vw;
	 }

	 .hero .fa{
		 font-size: 4vh;
	 }

	 section:nth-of-type(1){
		 min-height: 50vh;
		 height: 80vh;
	 }
	 section:nth-of-type(2){
		 height: 100vh;
	 }

	section:nth-of-type(3){
		 min-height: 140vh;
	 }
	section:nth-of-type(4){
		 min-height: 90vh;
	 }

	 /* About Me */
	 .about-me-container{
		 display: flex;
		 flex-direction: column;
	 }
	 .about-me-container h2{
		font-size: 3vh;
	}

	.about-me-container p{
		font-size: 1.8vh;
	}

	.about-me-text {
		width: 95vw;
		padding-left: 5vh;
	}

	.about-me-text li{
		font-size: 1.8vh;
	}

	.about-me-skills h2{
		padding-top: 15px;
	}

	.skills-grid{
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
	}

	.list-logo{
		flex: 25%;
	}

	.list-logo img{
		height: 5.2vh;
		width: 5.2vh;
	}


	/* Projects */
	#projects-title{
		padding-top: 150px;
	}

	.project-liste{
		width: 80vw;
	}

	.project-container{
		display: flex;
		flex-direction: column;
	}

	.project-liste p{
		font-size: 1.8vh;
		width: 80vw;
	}

	.project-img{
		display: none;
	}

	/* Footer */
	.footer-container{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.footer-container div{
		width: 100%;
	}

	.footer-contact h4{
		padding-left: 30px;
		font-size: 1.8vh;
	}

	.footer-socials button{
		width: 20vw;
		
	}
}

